apistar==0.7.2
bump2version==1.0.1
Click==8.1.7
Flask==3.0.3
Flask-RESTful==0.3.10
gunicorn==22.0.0
imagemounter_mitre
invoke==2.2.0
pytest==8.2.2
requests==2.32.3
sphinx==7.4.6
sphinx-autobuild==2021.3.14
sphinx_rtd_theme==2.0.0
