apistar==0.7.2
bump2version==1.0.1
Click==8.0.3
Flask==1.1.2
Flask-RESTful==0.3.8
gunicorn==20.1.0
git+https://github.com/mitre/imagemounter@develop#egg=imagemounter
invoke==1.6.0
pytest==7.0.1
requests==2.27.1
sphinx==4.3.1
sphinx-autobuild==2021.3.14
sphinx_rtd_theme==1.0.0
