apistar==0.7.2
bump2version==1.0.1
Click==8.1.7
Flask==3.0.3
Flask-RESTful==0.3.10
gunicorn==23.0.0
imagemounter_mitre
invoke==2.2.0
pytest==8.3.3
requests==2.32.3
sphinx==6.2.1
sphinx-autobuild==2024.10.3
sphinx_rtd_theme==3.0.1
