version: '3'

services:
  thumbtack:
    image: ghcr.io/mitre/thumbtack:0.4.0
    container_name: thumbtack
    privileged: true
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - evidence_dir:evidence_dir
      - type: bind
        source: mount_dir
        target: mount_dir
        bind:
          propagation: shared
    ports:
      - "8208:8208"
    command: ["thumbtack", "-h", "0.0.0.0", "-i", "evidence_dir", "-m", "mount_dir", "--db", "/tmp/database.db"]
