version: '3'

services:
  thumbtack:
    image: ghcr.io/mitre/thumbtack:0.5.2
    container_name: thumbtack
    privileged: true
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - image_dir:image_dir
      - type: bind
        source: mount_dir
        target: mount_dir
        bind:
          propagation: shared
    ports:
      - "8208:8208"
    command: ["thumbtack", "-h", "0.0.0.0", "-i", "image_dir", "-m", "mount_dir", "--db", "/tmp/database.db"]
