<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <p>Hello there! This interface is a proof of concept of what can be done with the Thumbtack server API.
     It allows you to mount and unmount disk image files in a specified directory.
     Once mounted, you are shown a tree view of all the image partitions that are available and where they are mounted on the server.
     In order to more quickly be able to navigate to the mounted directory, you can copy the path to the clipboard as well.
  </p>

  <h2>Mount types</h2>
  <p>The following mount types are supported on this Thumbtack server.
     In order to enable more mount types from the unsupported list below, please reference the documentation for that type in
     the <a href="https://imagemounter.readthedocs.io/en/latest/specifics.html">imagemounter documentation</a>.
  </p>
  <p><b>Supported:</b>
  {% for mount_type in supported_mount_types %}
    {{ mount_type }} {{ "-" if not loop.last }}
  {% endfor %}
  </p>
  <p><b>Unsupported:</b>
  {% for mount_type in unsupported_mount_types %}
    {{ mount_type }} {{ "-" if not loop.last }}
  {% endfor %}
  </p>
  <p><a href="/supported" >More info</a></p>

  <h2>Path to disk images: {{ image_dir }}</h2>

  <table style="width:70%">
    <tr>
      <th>Filename</th>
      <th>Status</th>
      <th>Mount</th>
      <th>Unmount</th>
      <th>Mountpoint</th>
    </tr>
    {% for image in images %}
      <tr>
        <!-- Filename -->
        <td>
          {% if image.status == 'Mounted' %}
            <a href="/mounts/{{ image.rel_path }}">{{ image.rel_path }}</a>
          {% else %}
            {{ image.rel_path }}
          {% endif %}
        </td>

        <!-- Status -->
        <td>{{ image.status }}</td>

        <!-- Mount button -->
        <td>
          {% if image.status == 'Unmounted' %}
          <form class="myForm" method="post" action="/mount_form">
            <input type="hidden" name="img_to_mount" value="{{ image.rel_path }}">
            <input type="hidden" name="operation" value="mount">
            <button>Mount</button>
          </form>
          {% endif %}
        </td>

        <!-- Unount Button -->
        <td>
          {% if image.status == 'Mounted' %}
          <form class="myForm" method="post" action="/mount_form">
            <input type="hidden" name="img_to_mount" value="{{ image.rel_path }}">
            <input type="hidden" name="operation" value="unmount">
            <button>Unmount</button>
          </form>
          {% endif %}
        </td>

        <!-- Mountpoint info -->
        <td>
          {% if image.status == 'Mounted' %}
          <ul class="myUL">
            <li>
              <span class="caret">{{ image.disk_mountpoint }}</span>
              <ul class="nested">
                {% for volume in image.volume_info %}
                  <li>
                    [{{ volume.index }}] <span id="{{ volume.uid }}">{{ volume.mountpoint }}</span>
                    {% if volume.mountpoint %}
                    <div class="tooltip">
                      <button onclick="copyByID('{{ volume.uid }}')" onmouseout="outFunc('{{ volume.uid }}Tooltip')">
                        <span class="tooltiptext" id="{{ volume.uid }}Tooltip">Copy to clipboard</span>
                        Copy
                      </button>
                    </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
